*pyc
*.idea
*.mp4
*.avi
*.png
*.json

!app/modalities/gait/models/feature_bounds.json

*.pem

__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.env

app/modalities/voice/models/**/*.pt
app/modalities/voice/models/**/*.pth
app/modalities/voice/models/**/*.onnx
app/modalities/voice/models/**/*.bin
app/modalities/voice/models/**/*.safetensors
app/modalities/voice/models/**/*.ckpt
app/modalities/voice/models/**/*.h5

.idea/
.vscode/
!app/modalities/gait/models/feature_bounds.json
*.pem
