<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Моя система{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/styles.css') }}">
</head>

<body>
    <div class="container">
        <nav>
            <a href="/hand_tracking" class="{% if request.url.path == '/hand_tracking' %}active{% endif %}">Двигательная
                активность рук</a>
            <a href="/tremor" class="{% if request.url.path == '/tremor' %}active{% endif %}">Тремор</a>
            <a href="/mimic" class="{% if request.url.path == '/mimic' %}active{% endif %}">Мимика</a>
            <a href="/voice" class="{% if request.url.path == '/voice' %}active{% endif %}">Голос</a>
            <a href="/gait" class="{% if request.url.path == '/gait' %}active{% endif %}">Походка</a>
        </nav>

        {% block content %}{% endblock %}
    </div>

    {% block scripts %}{% endblock %}
</body>

</html>